.calc{
  width: 32px;
  margin:100px auto;
}
#answer{
  padding: 10px;
  font-size: 35px;
  width: 70px;
  height: 25px;
  text-align:right;
}
.button{
  height: 80px;
  width: 100px;
  color:white;
}
